@page "/"
@rendermode InteractiveServer
@using OpucForm.Models
@using OpucForm.Data
@using OpucForm.Components.Pagination
@inject ApplicationDbContext Db


<PageTitle>Oregon Lifeline Program - Application Form</PageTitle>

<div class="body">
  <main class="root">
    <header class="header">

      <div class="header__wrapper">
        <div class="header__left">
          <img src="img/opuc-logo.webp" class="header__left-logo" alt="Oregon lifeline Logo" />
        </div>
        <div class="header__right">

          <div class="header__lang">
            <div id="google_translate_element"></div>
          </div>


          <!--
            <div class="header__accessibility">
              <a href="#access" class="header__btn">
                <i class="header__icon fa-solid fa-gear fa-2xl"></i>
              </a>
            </div>
              -->
        </div>

      </div>

    </header>

    <section class="application">

      <!-- PAGINATION FORM -->
      <div class="application__pagination">
        <div class="application__pagination-progress">
          <div class="application__pagination-progress--wrapper">
            <div class="pindicator">

              <div class="bullet @(CurrentStep > 1 ? "past" : (CurrentStep == 1 ? "current" : "future"))">
                <span class="icon">1</span>
                <div class="progress-fill" style="width:@(CurrentStep == 1 ? "50%" : "100%")"></div>
              </div>

              <div class="bullet @(CurrentStep > 2 ? "past" : (CurrentStep == 2 ? "current" : "future"))">
                <span class="icon">2</span>
              </div>

              <div class="bullet @(CurrentStep > 3 ? "past" : (CurrentStep == 3 ? "current" : "future"))">
                <span class="icon">3</span>
              </div>

              <div class="bullet @(CurrentStep == 4 ? "current" : "future")">
                <span class="icon">4</span>
              </div>


            </div>
          </div>
        </div>

        <!-- Step content -->
        <div class="application__pagination-form">
          <div class="application__pagination-form--wrapper">
            @switch (CurrentStep)
            {
              case 1:
                <Step1Model OnProviderSelected="HandleProviderSelected" />
                break;
              case 2:
                <Step2Model SelectedProvider="@selectedProvider" @key="selectedProvider" />
                break;
              case 3:
                <Step3Model />
                break;
              case 4:
                <Step4Model />
                break;
            }
          </div>
        </div>

        <!-- Navigation buttons -->

        <div class="pagination-buttons">

          @* Only show "Back" if not on the first step *@
          @if (CurrentStep > 1)
          {
            <button style="margin-right: 10rem;" class="btn btn-secondary" @onclick="GoBack"
              disabled="@(CurrentStep == 1)">Back</button>
          }

          @if (CurrentStep != 1)
          {
            @* "Next" button changes text on the last step *@
            <button class="btn btn-primary" @onclick="GoNext">
              @{
                string nextText;
                if (CurrentStep == TotalSteps)
                {
                  nextText = "Submit";
                }
                else
                {
                  nextText = "Next";
                }
              }
              @nextText
            </button>
          }
        </div>


      </div>



      <!-- Keep this here for now - For some reason removing this h3 tag breaks the UI. Not sure why -->
      <h3 class="mt-3">Oregon Lifeline is a federal and state government program that provides a monthly discount
        on phone <strong>(up to $15.25)</strong> or high-speed internet service <strong>(up to $19.25)</strong>
        for qualifying households with low incomes through participating service providers.</h3>


    </section>
    <hr>

    <!-- Hide for now -->
    <!--
    <footer class="footer">

      <div class="footer__about">
        <h6>Quick Links</h6>
        <ul class="footer__list">
          <li class="footer__item">
            <a target="_blank" class="footer__link" href="https://www.oregon.gov/puc/about-us/Pages/default.aspx">About
              Us</a>
          </li>
          <li class="footer__item">
            <a target="_blank" class="footer__link"
              href="https://www.oregon.gov/puc/utilities/Pages/default.aspx">Utility Regulation</a>
          </li>
          <li class="footer__item">
            <a target="_blank" class="footer__link" href="https://www.oregon.gov/pages/agencies.aspx">Agencies
              Listing</a>
          </li>
          <li class="footer__item">
            <a target="_blank" class="footer__link"
              href="https://www.oregon.gov/puc/safety/Pages/SafetyHome.aspx">Safety</a>
          </li>
          <li class="footer__item">
            <a target="_blank" class="footer__link"
              href="https://www.oregon.gov/pages/terms-and-conditions.aspx">Privacy Policy</a>
          </li>
          <li class="footer__item">
            <a target="_blank" class="footer__link"
              href="https://www.oregon.gov/pages/supported-browsers.aspx">Supported Browsers</a>
          </li>
        </ul>
      </div>

      <div class="footer__about">
        <h6>About Oregon</h6>
        <ul class="footer__list">
          <li class="footer__item">
            <a target="_blank" class="footer__link" href="https://www.oregon.gov/">Oregon.gov</a>
          </li>
          <li class="footer__item">
            <a target="_blank" class="footer__link" href="https://employeesearch.dasapp.oregon.gov/">State Employee
              Search</a>
          </li>
          <li class="footer__item">
            <a target="_blank" class="footer__link" href="https://www.oregon.gov/pages/agencies.aspx">Agencies
              Listing</a>
          </li>
          <li class="footer__item">
            <a target="_blank" class="footer__link"
              href="https://www.oregon.gov/pages/accessibility.aspx">Accessibility</a>
          </li>
          <li class="footer__item">
            <a target="_blank" class="footer__link"
              href="https://www.oregon.gov/pages/terms-and-conditions.aspx">Privacy Policy</a>
          </li>
          <li class="footer__item">
            <a target="_blank" class="footer__link"
              href="https://www.oregon.gov/pages/supported-browsers.aspx">Supported Browsers</a>
          </li>
        </ul>
      </div>

    </footer>
-->

  </main>

  <noscript>Please enable JavaScipt or update your browser.</noscript>

  <script src="https://kit.fontawesome.com/3917f229ac.js" crossorigin="anonymous"></script>

  <script type="text/javascript">
    function googleTranslateElementInit() {
      new google.translate.TranslateElement({
        pageLanguage: 'en',
        includedLanguages: 'en,af,ar,zh-CN,zh-TW,hmn,ja,ru,so,es,vi',
        layout: google.translate.TranslateElement.InlineLayout
      }, 'google_translate_element');
    }
  </script>

  <script src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

</div>